<div class="banner">
  <div class="banner-content">
    <h1>Cocktails Psycho</h1>
    <p>This is your cure</p>
    <a href="/cocktails" class="btn btn-primary btn-lg">Let's get treatment</a>
  </div>
</div>

